<!-- It's a handlebars template! hbs(handlebars): http://handlebarsjs.com/ -->
<script>
  
  let selectedUserId;
  
  function selectUser(userId) {
    selectedUserId = userId;
    console.log(selectedUserId);
    
    window.location.href = `/users/${selectedUserId}`;   
  }  
 
  function revokeToken(userId, clientId, tokenId) {
    window.location.href = `/revoke/${userId}/${clientId}/${tokenId}`;
  }
  
</script>
<!DOCTYPE html>
<html>
  {{> head }}
  <body class="center">
    <header>
    {{> navbar currentUserId=currentUserId}}  
    </header>
    <main>
        
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h3 class="display-4">
          Register a Full Account
        </h3>
        <p class="lead">Fill in the form below to register a full account:</p>
        
      <form method="POST" action="/users">
        <div class="form-group">
          <input type="text" style="display:none" name="accountType" id="accountType" value="full">
          <input type="text" class="form-control" id="accountDescription" name="accountDescription" aria-describedby="accountDescriptionHelp" placeholder="account description">         
          <input type="text" class="form-control" name="login" id="login" placeholder="username e.g. bob@mailinator.com">
          <input type="text" class="form-control" name="firstName" id="firstName" placeholder="first name">
          <input type="text" class="form-control" name="lastName" id="lastName" placeholder="last name">
          <input type="text" class="form-control" name="mobilePhone" id="mobilePhone" placeholder="mobile phone">              
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>        
        
        
      </div>
    </div>      
        
    </main>  
    
  </body>
</html>
