<!-- It's a handlebars template! hbs(handlebars): http://handlebarsjs.com/ -->
<script>

</script>

<!DOCTYPE html>
<html>
  {{> head oktaConfig=oktaConfig clientId=clientIdLightweight}}
  <body class="center">
    <header>
      {{> navbar sessionExists=tokensExist logoutUri=logoutUri }}
      <h1>
         Profile
      </h1>
    </header>
 
    <pre><code>
    {{json tokens.decoded_id}}
    </code>
    </pre>
    
    <pre><code>
    {{json tokens.decoded_access}}
    </code>
    </pre>
    
    <pre><code>
    {{json tokens.refresh}}
    </code>
    </pre>
    
    <button onclick="logout()";>
      Log Out
    </button>
    
    <main>

    </main>
  </body>
</html>
